<?xml version="1.0" encoding="utf-8"?>
<Sinequa>
	<Revision>2</Revision>
	<Description></Description>
	<ProgrammingLanguage>csnetlatest</ProgrammingLanguage>
	<Platform>any</Platform>
	<Files>
		<e>
			<Name>GLLM.cs</Name>
			<Comment></Comment>
		</e>
		<e>
			<Name>GLLMParameters.cs</Name>
			<Comment></Comment>
		</e>
		<e>
			<Name>GLLMTokenizer.cs</Name>
			<Comment></Comment>
		</e>
		<e>
			<Name>GLLMModel.cs</Name>
			<Comment></Comment>
		</e>
		<e>
			<Name>GLLMQuota.cs</Name>
			<Comment></Comment>
		</e>
		<e>
			<Name>AzureOpenAIModels.cs</Name>
			<Comment></Comment>
		</e>
	</Files>
	<IsDebug>true</IsDebug>
	<ExternalDllPath></ExternalDllPath>
	<Reference>TiktokenSharp.dll</Reference>
	<Reference>Azure.AI.OpenAI.dll</Reference>
</Sinequa>